# ==============================
# Python cache and build files
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
build/
dist/

# ==============================
# Jupyter Notebook checkpoints
# ==============================
.ipynb_checkpoints/

# ==============================
# Virtual environments
# ==============================
.env/
.venv/
venv/
env/
gwpy_venv/

# ==============================
# VS Code settings
# ==============================
.vscode/

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Log / temporary / backup files
# ==============================
*.log
*.tmp
*.bak
*.swp

# ==============================
# Specific files you want to ignore
# ==============================
# Notebooks and .py files
GW-assignment.ipynb
pycbc-snr.ipynb
Cosmic.ipynb
test.py 
catalog.ipynb
iteration_loop_test.ipynb
iteration_loop.ipynb
Plots.ipynb
Plots_tdi15.ipynb
Plots_tdi2.ipynb
jaxgb_waveforms.ipynb

# Other types of files

processed_all_*
results_all_*
binaries_all_*
binaries_test_*

*.h5

cosmic-inifile.ini 
dat_kstar1_11_14_kstar2_11_14_SFstart_13700.0_SFduration_0.0_metallicity_0.014.h5
log_kstar1_11_14_kstar2_11_14_SFstart_13700.0_SFduration_0.0_metallicity_0.014.txt
resolved_sources.hdf5
resolved_sources_1000000.hdf5
galaxy_fit_results.csv
