# ==============================
# Python cache and build files
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
build/
dist/

# ==============================
# Jupyter Notebook checkpoints
# ==============================
.ipynb_checkpoints/

# ==============================
# Virtual environments
# ==============================
.env/
.venv/
venv/
env/
gwpy_venv/

# ==============================
# VS Code settings
# ==============================
.vscode/

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Log / temporary / backup files
# ==============================
*.log
*.tmp
*.bak
*.swp

# ==============================
# Specific files you want to ignore
# ==============================
# Notebooks and .py files
GW-assignment.ipynb
pycbc-snr.ipynb
Cosmic.ipynb
test.py 
catalog.ipynb
iteration_loop_test.ipynb
iteration_loop.ipynb

# Other types of files
binaries_test_1000000
binaries_test_1000000_SNR_selection
cosmic-inifile.ini 
dat_kstar1_11_14_kstar2_11_14_SFstart_13700.0_SFduration_0.0_metallicity_0.014.h5
log_kstar1_11_14_kstar2_11_14_SFstart_13700.0_SFduration_0.0_metallicity_0.014.txt
resolved_sources.hdf5
resolved_sources_1000000.hdf5
binaries_test_all_SNR_selection
processed_all_snr001_4yrs.h5
results_all_snr7_4yrs
binaries_all_SNR_001_4yr
binaries_all_SNR001_4yrs.h5
